<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kenny's Movie Board</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- GOOGLE FONTS -->
     <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <div id="header-container">
        <h1>Kenny's Movie Board</h1>
      </div>
    </header>

    <!-- movie-container -->
    <div class="movie-container">
      <div id="movie-list">
        <!-- handlebars template -->
        <script id="movies-template" type="text/x-handlebars-template">
          {{#each movies}}
            <div class="movie-box-outer">
              <div class="movie-box-inner">
                <div class="movie-thumbnail"><img alt="{{title}}" src="{{poster}}" /></div>
                <h2>{{title}}</h2>
                <p class="directed-by"><strong>Directed by</strong>: {{directedBy}}</p>
                <p class="release-date"><strong>Released on</strong>: {{releaseDate}}</p>
                <p class="imdb-page"><a href="{{imdbPage}}" target="_blank">See details on IMDb</a></p>
                <button type="button" name="button" class="delete-movie-submit" data-id={{_id}}>Delete</button>
              </div>
            </div>
          {{/each}}
        </script>
      </div> 
    </div>
    <!-- end movie-container -->

    <!-- new movie form -->
    <div id="new-movie-form">
      <form id="newMovieForm">
        <div class="form-float">
          <label for="title">Title</label>
          <input type="text" name="title" placeholder="Movie Title" required />
        </div>
        <div class="form-float">
          <label for="title">Director</label>
          <input type="text" name="directedBy" placeholder="Director" required />
        </div>
        <div class="form-float form-last">
          <label for="title">Release Date</label>
          <input type="text" name="releaseDate" placeholder="mm/dd/yyyy" required />
        </div>
        <div class="form-block">
          <label for="title">Poster URL</label>
          <input type="text" name="poster" placeholder="http://poster-url" required />
        </div>
        <div class="form-block">
          <label for="title">IMDb URL</label>
          <input type="text" name="imdbPage" placeholder="http://imdb-url" required />
        </div>
        <button type="submit" class="new-movie-submit">Add New Movie</button>
      </form>
    </div>
    <!-- end new movie form -->

    <!-- footer -->
    <footer>
      <p>Copyright &copy; 2016 <a href="http://k2sites.com/" target="_blank">K2 Sites</a>. All Rights Reserved. <span class="footer-pipe">|</span> <a href="/api" target="_blank">API Documentation</a><span class="footer-pipe">|</span> <a href="/api/profile" target="_blank">My API Profile</a></p>
    </footer>
    <!-- end footer -->

  </body>
</html>
