body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
}

/* Typography
************************************************/

h1 {
  margin-top: 100px;
  text-align: center;
}

.movie-box-inner h2 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  color: #444;
  text-align: center;
  padding: 0;
  margin: 0 0 15px;
}

.directed-by {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  color: #444;
  text-align: center;
  padding: 0;
  margin: 0 0 5px;
}

.release-date {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  color: #444;
  text-align: center;
  padding: 0;
  margin: 0 0 10px;
}

.imdb-page {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  color: #444;
  text-align: center;
  padding: 0;
  margin: 0 0 10px;
}

/* Inputs and Buttons
************************************************/

label {
  display: block;
  width: 200px;
  padding: 0 10px;
  margin: 0;
}

.new-movie-submit {
  display: inline-block;
  background-color: #555;
  width: 140px;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  text-transform: none;
  padding: 10px 16px;
  margin: 24px 0 0;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  float: right;
}

.delete-movie-submit {
  display: inline-block;
  width: 100px;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  text-transform: none;
  padding: 10px 16px;
  margin: 0 auto;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  float: none;
}

/* Layout
************************************************/

#new-movie-form {
  margin: 100px auto 60px;
}

.movie-container {
  background: #000;
  width: 100%;
  text-align: center;
  word-spacing: 40px;
  padding: 0;
  margin: 50px auto;
  border-top: 10px solid #444;
  border-bottom: 10px solid #444;
}

#movie-list {
  max-width: 1120px;
  padding: 30px 0 10px;
  margin: 60px auto;
}


.movie-box-outer {
  word-spacing: 0;
  display: inline-block;
  padding: 0;
  margin: 0 0 40px; 
  vertical-align: top;
  border: 1px solid #e5e5e5;
}

.movie-box-inner {
  background: #fff;
  width: 240px;
  padding: 20px 0;
  margin: 0;
  border: 1px solid #dddddd;
}

.movie-thumbnail {
  width: 160px;
  height: 180px;
  margin: 0 auto 10px;
}

.movie-thumbnail img {
  width: 100%;
  height: 100%;
}


