body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
}

/* Typography
************************************************/

strong {
  font-weight: 700;
}

#header-container h1 {
  font-size: 38px;
  line-height: 1.4;
  font-weight: 600;
  padding: 0;
  margin: 60px 0 0;
  text-align: left;
}

.documentation: {
  text-align: left;
}

.movie-box-inner h2 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  color: #444;
  text-align: center;
  padding: 0;
  margin: 0 0 15px;
}

.directed-by {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  color: #444;
  text-align: center;
  padding: 0;
  margin: 0 0 5px;
}

.release-date {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  color: #444;
  text-align: center;
  padding: 0;
  margin: 0 0 5px;
}

.imdb-page {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  color: #444;
  text-align: center;
  padding: 0;
  margin: 0 0 30px;
}

/* Inputs and Buttons
************************************************/

label {
  display: block;
  width: 200px;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

input,
select,
textarea {
  background-color: #fff;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #666666;
  padding: 10px 15px;
  border: 2px solid #ddd;
  border-radius: 3px;
  box-shadow: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.new-movie-submit {
  display: inline-block;
  background-color: #555;
  width: 100%;
  color: #fff;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  text-transform: none;
  padding: 20px 16px;
  margin: 24px 0 0;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.new-movie-submit:hover {
  background-color: #000;
  color: #fff;
}

.delete-movie-submit {
  display: block;
  width: 55%;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  text-transform: none;
  padding: 10px 0;
  margin: 20px auto 0;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  float: none;
}

/* Layout
************************************************/

header {
  width: 100%;
  padding: 0;
  margin: 0;
}

#header-container {
  max-width: 1120px;
  padding: 0;
  margin: 0 auto;
}

#new-movie-form {
  max-width: 660px;
  margin: 100px auto 60px;
  overflow: hidden;
}

.form-float {
  width: 200px;
  padding: 0;
  margin: 0 20px 15px 0;
  float: left;
}

.form-block {
  width: 100%;
  margin: 0 0 15px;
}

.movie-container {
  background: #000;
  width: 100%;
  text-align: center;
  word-spacing: 40px;
  padding: 0;
  margin: 50px auto;
  border-top: 10px solid #444;
  border-bottom: 10px solid #444;
}

#movie-list {
  max-width: 1120px;
  padding: 30px 0 10px;
  margin: 60px auto;
}


.movie-box-outer {
  word-spacing: 0;
  display: inline-block;
  padding: 0;
  margin: 0 0 40px; 
  vertical-align: top;
  border: 1px solid #e5e5e5;
}

.movie-box-inner {
  background: #fff;
  width: 240px;
  padding: 20px 0;
  margin: 0;
  border: 1px solid #dddddd;
}

.movie-thumbnail {
  width: 160px;
  height: 180px;
  margin: 0 auto 20px;
}

.movie-thumbnail img {
  width: 100%;
  height: 100%;
}

footer {
  background: #000;
  width: 100%;
  font-size: 15px;
  line-height: 1.4;
  font-weight: 300;
  text-align: center;
  color: #fff;
  padding: 60px 0 50px;
  margin: 80px 0 0;
  border-top: 10px solid #444;
}

footer a {
  color: #FFF;
  text-decoration: none;
}

footer a:hover {
  color: #FFF;
  text-decoration: underline;
}
